<div class="row">
  <div class="col-md-12">
    <h1 class="text-center mt-3">Sign Up</h1>
  </div>
  <div class="col-md-12">
    <form method="post">
      <div class="mb-3">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" />
      </div>
      <% if (typeof errors === 'object' && errors.name) { %>
        <div class="alert alert-danger" role="alert">
            Name cannot be empty
          </div>
        <% } %>
      <div class="mb-3">
        <label for="email">Email:</label>
        <input type="text" class="form-control" name="email" />
      </div>
      <% if (typeof errors === 'object' && errors.email) { %>
        <div class="alert alert-danger" role="alert">
            Please provide a valid email
          </div>
        <% } %>
      <div class="mb-3">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" />
      </div>
      <% if (typeof errors === 'object' && errors.password) { %>
        <div class="alert alert-danger" role="alert">
            Password cannot be empty
          </div>
        <% } %>
      <div class="mb-3">
        <label for="pwConfirm">Confirm Password:</label>
        <input type="password" class="form-control" name="pwConfirm" />
      </div>
      <% if (typeof errors === 'object' && errors.pwConfirm) { %>
        <div class="alert alert-danger" role="alert">
            Confirm cannot be empty
          </div>
        <% } %>
      <div class="text-center">
            <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
      <% if (typeof confirm !== 'undefined' && !confirm) { %>
        <div class="alert alert-danger mt-3" role="alert">
            Passwords do not match!
          </div>
        <% } %>
    </form>
  </div>
</div>
